.hd-popup {
  background-color: white;
  position: fixed;
  z-index: 9999;
  left: 18vw;
  top: 20vh;
  border: 2px solid #696969;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 12px;
}

.hd-table {
  border-spacing: 1em 6px;
  border-collapse: collapse;
}

.hd-table .hd-table-footer-tr {
  background-color: #ebe7da !important;
}

.hd-table tr:nth-child(even) {
  background-color: #f0f0f0;
}

.hd-table .hd-table-heading {
  font-weight: bold;
  text-align: center;
  background-color: #e9e1c6;
  padding: 3px;
  border: 0.5px solid #696969;
}

.hd-table .hd-table-td {
  text-align: center;
  border: 0.5px solid #696969;
  padding: 3px;
}

.hd-bold {
  font-weight: bold;
}

.hd-button {
  color: black;
  line-height: 18px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #f4e830;
  box-shadow: 0 -5px 8px -2px #ffae00 inset, 1px 1px 1px #eee;
  padding: 2px 15px;
  text-shadow: 0 0 1px #fff;
  border: 1px solid #000;
  border-radius: 4px;
}

.hd-m-2 {
  margin: 2px;
}

.hd-my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.hd-mx-2 {
  margin-left: 2px;
  margin-right: 2px;
}